.root {
  -fx-sombreado: dropshadow(three-pass-box, transparent, 15, 0, 4, 4);
  -fx-color-4: #EB1D36;
  -fx-color-gris: #2E2E2E;
 
  -fx-color-fondo1: -fx-color-negro;
  -fx-color-fondo2:  -fx-color-gris;
  -fx-color-texto1: -fx-color-blanco;
  -fx-color-texto2:  -fx-color-blanco;
}