.root {
  -fx-sombreado: dropshadow(three-pass-box, transparent, 15, 0, 4, 4);
 
  -fx-color-1: #484fc1;
  -fx-color-2: #C96868;
  -fx-color-3: #0B8457;
  -fx-color-4: #ED4245;
  -fx-color-5: #FF7315;
  -fx-color-blanco: #F1F1F1;
  -fx-color-negro: #202225;
  -fx-color-gris: #2F3136;

  -fx-color-fondo1: -fx-color-negro;
  -fx-color-fondo2:  -fx-color-gris;
  -fx-color-texto1: -fx-color-blanco;
  -fx-color-texto2:  -fx-color-blanco;
}