.nuevo-ingrediente {
  -fx-pref-height: 53;
  -fx-min-height: -fx-pref-height;
  -fx-background-color: -fx-color-fondo2;
  -fx-background-radius: 6;
}

.ni-inp-cantidad {
  -fx-pref-width: 120;
}

.ni-cbx-udmedida {
  -fx-pref-width: 90;
}

.ni-btn-borrar {
  -fx-font-weight: bold;
}
