.previsual-receta {
  -fx-pref-height: 400;
  -fx-min-height: -fx-pref-height;
  -fx-pref-width: 250;
  -fx-min-width: -fx-pref-width;
  -fx-background-radius: 30;
  -fx-background-color: -fx-color-fondo2;
  -fx-effect: -fx-sombreado;
}

.pr-lbl-titulo {
  -fx-wrap-text: true;
  -fx-font-weight: bold;
}

.pr-lbl-descripcion {
  -fx-wrap-text: true;
}

.pr-btn-ver {
  -fx-pref-height: 20;
  -fx-pref-width: 60;
  -fx-background-color: -fx-color-2;
  -fx-background-radius: 30;
  -fx-text-fill: -fx-color-blanco;
}

.pr-btn-ver:hover {
  -fx-background-color: derive(-fx-color-2, 20%);
}