.rs-caja-buscar {
  -fx-pref-width: 400;
  -fx-max-width: -fx-pref-width;
  -fx-background-image: url("../img/find.png");
  -fx-background-size: 18;
  -fx-background-repeat: no-repeat;
  -fx-background-position: 10;
  -fx-padding: 8 40;
  -fx-effect: dropshadow(three-pass-box, derive(#D7DBDD, 0%), 10, 0, 3, 3);
}

.rs-panelscroll-categorias {
  -fx-pref-height: 60;
  -fx-min-height: -fx-pref-height;
  -fx-max-width: 800;
}