.receta-vista-previa {
  -fx-pref-height: 400;
  -fx-min-height: -fx-pref-height;
  -fx-pref-width: 250;
  -fx-min-width: -fx-pref-width;
  -fx-background-radius: 30;
  -fx-background-color: -fx-color-gris;
  -fx-effect: dropshadow(three-pass-box, derive(#D7DBDD, -3%), 15, 0, 4, 4);
}

.rvp-imagen {
  -fx-background-image: url("../img/comida.jpg");
  -fx-background-size: cover;
  -fx-pref-height: 180;
  -fx-shape: "M 0 1 L 0 1 L 0 1 L 0 3 L 4 3 L 4 1 C 4 0 4 0 3 0 L 1 0 C 0 0 0 0 0 1";
}

.rvp-descripcion {
  -fx-font-size: 13px;
}

.rvp-texto-descripcion {
  -fx-fill: -fx-color-negro;
}

.rvp-texto-titulo {
  -fx-fill: -fx-color-negro;
}

.rvp-boton {
  -fx-pref-height: 20;
  -fx-pref-width: 60;
  -fx-background-color: -fx-color-3;
  -fx-text-fill: -fx-color-blanco;
  -fx-background-radius: 30;
}

.rvp-boton:hover {
  -fx-background-color: derive(-fx-color-3, 40%);
  -fx-cursor: hand;
}