.sr-lbl-email {
  -fx-pref-height: 40;
  -fx-min-height: -fx-pref-height;
  -fx-pref-width: 800;
  -fx-max-width: -fx-pref-width;
  -fx-wrap-text: true;
}

.sr-pnl-email {
  -fx-pref-width: 800;
  -fx-max-width: -fx-pref-width;
}