.root {
  -fx-color-1: #F18F01;
  -fx-color-2: #048BA8;
  -fx-color-3: #2E4057;
  -fx-color-4: #99C24D;
  -fx-color-negro: #2F2D2E;
  -fx-color-gris: derive(#E5E7E9, -2%);
  -fx-color-blanco: white;

  -fx-font-family: 'Calibri';
  -fx-font-size: 15px;
  -fx-background-color: derive(-fx-color-blanco, -6%);
}

/* Para todos los Text */
Text {
  -fx-fill: red;
}

/* Para todos los TextField */
TextField {
  -fx-background-radius: 6;
  -fx-text-fill: red;
}

TextField:focused {
  -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

/* Para todos los TextArea */
TextArea {
  -fx-background-radius: 6;
  -fx-text-fill: red;
}

TextArea:focused {
  -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

.text-area .scroll-bar:vertical:disabled {
  -fx-opacity: 0;
}

/* Para todos los Button */
Button {
  -fx-background-radius: 6;
  -fx-text-fill: red;
}

/* Para todos los ScrollPane */
ScrollPane {
  -fx-background-color: transparent;
}

ScrollPane .viewport {
  -fx-background-color: transparent;
}

.titulo-1 {
  -fx-font-size: 18px;
}

.boton-borrar {
  -fx-background-color: -fx-color-1;
  -fx-text-fill: -fx-color-3;
  -fx-border-color: derive(-fx-color-3, 40%);
  -fx-border-radius: 4;
  -fx-font-weight: bold;
}

.boton-borrar:hover {
  -fx-background-color: derive(-fx-color-1, -30%);
  -fx-cursor: hand;
}