.principal {
  -fx-padding: 15 30 30 30;
}

.menu {
  -fx-pref-height: 60;
  -fx-min-height: -fx-pref-height;
  -fx-background-color: derive(#003152, 30%);
  -fx-background-radius: 6;
  -fx-effect: dropshadow(three-pass-box, derive(#D7DBDD, -3%), 15, 0, 4, 4);
}

.menu-titulo {
  -fx-font-size: 22;
  -fx-fill: white;
}

.menu-boton {
  -fx-pref-height: 40;
  -fx-pref-width: 120;
  -fx-background-color: #81D8D0;
  -fx-text-fill: -fx-color-blanco;
}

.menu-boton:hover {
  -fx-background-color: derive(-fx-color-2, -20%);
  -fx-cursor: hand;
}