.principal {
  -fx-padding: 15 30 30 30;
}

.menu {
  -fx-pref-height: 60;
  -fx-min-height: 60;
  -fx-background-color: -fx-color-gris;
  -fx-background-radius: 6;
  -fx-effect: dropshadow(three-pass-box, derive(#D7DBDD, -3%), 15, 0, 4, 4);
}

.menu-boton {
  -fx-pref-height: 40;
  -fx-pref-width: 120;
  -fx-background-radius: 4;
  -fx-background-color: -fx-color-1;
  -fx-text-fill: -fx-color-blanco;
}

.menu-boton:hover {
  -fx-background-color: derive(-fx-color-1, 40%);
  -fx-cursor: hand;
}